{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">        
        <div class="content">      
            <div class="tech-grid-content">
                <h1 class="title">{{ meta.title }}</h1>
                {% for tech in meta.techs %}
                    <div class="box {{ tech.span }}">
                        <a href="{{ base_url }}/technology/{{ tech.link }}">
                            {{ tech.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
